---
title: "An interactive trajectory synthesizer to study outlier patterns in handwriting recognition and signature verification"
collection: publications
permalink: /publication/2006-01-01-An-interactive-trajectory-synthesizer-to-study-outlier-patterns-in-handwriting-recognition-and-signature-verification
date: 2006-01-01
venue: '18th International Conference on Pattern Recognition (ICPR&apos;06)'
citation: ' Moussa Djioua,  Christian O&apos;Reilly,  Rejean Plamondon, &quot;An interactive trajectory synthesizer to study outlier patterns in handwriting recognition and signature verification.&quot; 18th International Conference on Pattern Recognition (ICPR&amp;apos;06), 2006.'
---
Use [Google Scholar](https://scholar.google.com/scholar?q=An+interactive+trajectory+synthesizer+to+study+outlier+patterns+in+handwriting+recognition+and+signature+verification){:target="_blank"} for full citation